body {
    background: #04011b;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    color: #ffd900;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.input {
    order: 1;
    width: 50%;
    margin: 1ex;
}

#entry {
    width: 50%;
    background: rgba(59, 74, 107, .4);
    order: 2;
    margin: 1ex;
}

#container {
    display: flex;
    flex-direction: row;
}

#entryHolder {
    margin: 1em;
}

.headline {
    width: 100%;
    text-align: center;
}

.title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #22b2da;
    color: #000;
    padding: 10px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: 200px;
    height: 50px;
    background: #3b4a6b;
    color: #ffd900;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin: 1em;
    box-shadow: 2px 4px 5px #444;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #000;
    font-size: 20px;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #ffd900;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffd900;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fdd700;
    font-family: 'Oswald', sans-serif;
}